build
.idea
.vscode
.vs
.out
.temp
.tmp
out
.output
output
.cache
.depends
CMakeUserPresets.json
.fake

/POWER/DevWorkbench.pdb
/POWER/bin/Release/AMCAXLicense.lic
/POWER/bin/Release/logs
/POWER/bin/Release/Symbols
